*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}
body{
    background:#333;
}
header{
    padding:1%;
    background:#000;
}
header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
header nav .logo{
    color:white;
    font-size: 2rem;
    font-family: cursive;
    cursor: pointer;
}
header nav .logo span{
    color:rgb(5, 162, 253);
}
header nav ul{
    list-style:none;
    display: flex;
}
header nav ul li a{
    padding:5px 20px;
    text-decoration:none;
    font-size:1.2rem;
    color:#fff;
    border-radius:20px;
    transition: 1s;
}
header nav ul li a:hover{
    background:#111;
    color:rgb(5, 162, 253);
}